* {
  margin: 0;
  padding: 0;
  list-style: none;
  /* text-decoration: none; */
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
}

/* common class or id start */

.pbbbf{
  padding: 10px 15px;
        border-radius: 10px;
        border: none;
        background-color: #f1f1f1;
        font-size: 20px;
        cursor: pointer;

        &:hover{
          border: 1px solid black;
        }
}

/* common class or id end */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 5%;
  background-color: rgb(242, 245, 245);

  .nav-menu ul {
    display: flex;

    & li {
      padding: 0 8px;
      font-weight: 600;
      transition: 0.3s;
      &:hover{
        transform: scale(1.3);
      }
      & a {
        color: black;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }

  .button-items {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 0.4rem;

    .btn-1 {
      background-color: #000000;
      border-radius: 15px;
      border: none;
      & a {
        color: white;
        padding: 12px 10px;
        text-decoration: none;
      }
      a:hover {
        background-color: #f1f1f1;
        color: #000000;
        border: 1px solid black;
        border-radius: 15px;
      }
    }
  }
}


.mini-area {
  display: flex;
  flex-direction: column;  /* important */
  justify-content: center;
  align-items: center;
  height: calc(70vh - 70px);
  background-image: url("Images/Rectangle\ 1.png");
  background-size: cover;
  background-position: center;
  

  .input-area {
    background-color: #fff;
    padding: 35px;
    border-radius: 12px;
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.1); */
    width: 90%;
    max-width: 800px;
    text-align: center;
    margin-top: 50px;

    & h1 {
      margin-bottom: 20px;
      font-size: 40px;
    }

    & div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      gap: 10px;

      & select.pbbbf{
        width: 23%;
      }

      & input.pbbbf{
        width: 75%;
      }

      & .btn-2.pbbbf{
        width: 23%;
        background-color: #00EBC7;
        transition: 0.4s;
        &:hover{
          background-color: #f1f1f1;
          box-shadow: 0 0 25px #00EBC7;
          transform: scale(1.1);
        }
      }

      /* select:hover, input:hover, .btn-2:hover{
        border: 1px solid black;
      } */
    }

  }
}

.why-zappr-section {
  margin-bottom: 80px;
  text-align: center;
}

.why-zappr {
  padding: 10px 30px;
  margin-top: 60px;
  
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  &:hover{
    transform: scale(1.3);
  }
}

.why-zappr a{
  color: white;
  font-weight: 600;
}

.ticon-bar{
  width: 100%;
  height: 40vh;
  background-color: #FDE24F;
  border-bottom: 1px solid black;
  background-image: url(Images/Frame\ 15.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-position-y: 140px;

  & h1{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
  }
}

.about-payment h1{
  font-size: 50px;
  font-weight: 600;
  padding-left: 8%;
  padding-top: 8%;
  /* text-decoration:underline; */
}

.secure-friendly-payment{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 9% 10% 10%;
  gap: 1rem;

  .line{
    width: 50px;
  }
  
  & p{
    margin: 9% 25% 10%;
    font-size: 17px;
    font-weight: 500;
  }
  & a{
    color: #000000;
  }
}

.sf-features{
  text-align: center;

  & button{
    padding: 5px 15px;
    border-radius: 25px;
    background-color: transparent;
    margin-bottom: 30px;

    transition: 0.3s;
    &:hover{
      transform: scale(1.2);
    }
  }
  & a{
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
}

.buy-sell-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
  background-color: #f1f1f1;
  width: 100%;
  border: 1px solid;

  .buy-offer, .sell-offer{
    padding: 20px;
    border: 1px solid;

    & h2{
      margin: 30px 0px 50px 50px;
      font-size: 30px;
    }
    
    .buy-suggestion{
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(4, 1fr);
      border: 1px solid;
      border-radius: 25px;
      background-color: #ffffff;
      transition: 0.3s;
      margin: auto;
      padding: 20px 0px;
      margin: 20px 60px;  /* important */
      &:hover{
        transform: scale(1.1);
      }

      & img{
        width: 60px;
        height: 60px;
        margin-left: 20px;
      }

      .pay-mthd, .stock-price, .net-amount{
        font-size: 20px;
      }
    }

    & button{
      padding: 8px 25px;
      margin: 10px 0;
      border: 1px solid black;
      border-radius: 20px;
      background-color: #000000;
      transition: 0.3s;

      &:hover{
        transform: scale(1.2)
      }
      
      & a{
        text-decoration: none;
        color: white;
      }
    }
  }
}
.btn-3{
  text-align: center;
}

.signup-section{
  width: 100%;
  height: 60vh;
  background-color: #CFBAFF;
  text-align: center;

  & p{
    font-size: 70px;
    padding: 5% 20%;
  }

  & button{
    padding: 8px 25px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #000000;
    transition: 0.4s;

    &:hover{
      transform: scale(1.3);
    }
    
    & a{
      text-decoration: none;
      color: white;
      font-size: 30px;
    }
  }
}

.footer-section{
  background-color: black;
  width: 100%;
  height: 35vh;
  border-bottom: 2px solid white;

  & img{
    margin-left: 80px;
  }

  .footer-info{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 60px;

    & h2{
      color: white;
      padding-bottom: 20px;
      font-weight: 600;
    }
    & a{
      color: white;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.footer-info-2{
  background-color: #000000;
  & p{
    color: white;
    padding: 40px 80px;
  }
}
.ek{
  color: white;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}

/* Responsive for Mobile */

@media screen and (max-width: 750px) {

  .pbbbf{
    padding: 8px 15px;
          font-size: 16px;
  }
  
  .navbar {
    height: 80px;
    & img{
      width: 60%;
    }
  
    .nav-menu ul {
      display: none;
      
    }

    .button-items {
      display: flex;
      justify-content: start;
      gap: 0.6rem;

      & img {
        width: 15%;
      }
      .btn-1 {
        padding: 0 10px;
        border-radius: 10px;

        & a {
          padding: 0;
        }
      }
    }
  }


  .mini-area {
    .input-area {
      padding: 10px;
      width: 50%;
      margin-top: 30px;
  
      & h1 {
        margin-bottom: 20px;
        font-size: 20px;
      }
      & div {
        justify-content: center;
        align-items: center;
        display: grid;
        margin-bottom: 10px;
        gap: 10px;
  
        & select.pbbbf{
          width: 100%;
        }
        & input.pbbbf{
          width: 100%;
        }
        & .btn-2.pbbbf{
          width: 100%;
        }
      }
    }
  }


  .why-zappr-section {
  margin-bottom: 80px;
  text-align: center;
}

.why-zappr {
  padding: 10px 30px;
  margin-top: 40px;
  
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  &:hover{
    transform: scale(1.3);
  }
}

.why-zappr a{
  color: white;
  font-weight: 600;
}



  .ticon-bar{
    height: 30vh;
    background-size: 80%;
    background-position-y: 160px;
    & h1{
      padding: 50px 25px;
      font-size: 30px;
    }
  }
  
  .about-payment h1{
    font-size: 25px;
  }
  
  .secure-friendly-payment{
    display: grid;
    gap: 2rem;
  
    .line{
      display: none;
    }
    & p{
      margin: 5% 5% 5%;
    }
    & a{
      color: #000000;
    }
  }
  

  
  .buy-sell-section{
    grid-template-columns: 2;
    grid-template-rows: 1;
    border: 0.5px solid;
  
    .buy-offer, .sell-offer{
      padding: 10px;
      border: 0.5px solid;

      & h2{
        text-align: center;
        margin: 0;
        font-size: 30px;
      }
      
      .buy-suggestion{
        display: block;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1;
        border-radius: 15px;
        padding: 20px 0px;
        margin: 20px 0;  /* important */
  
        & img{
          width: 30px;
          height: 30px;
          margin-left: 0;
        }
        .pay-mthd, .stock-price, .net-amount{
          font-size: 16px;
          display: block;
          padding-left: 10px;
        }
      }
    }
  }


  .signup-section{
    width: 100%;
    height: 70vh;

    & p{
      font-size: 40px;
      padding: 18% 12%;
    }
  }
  
  .footer-section{
    width: 100%;
    height: 40vh;

    & img{
      width: 50px;
      height: 20px;
      margin-left: 15px;
    }
  
    .footer-info{
      padding-top: 60px;
      padding-right: 20px;
      gap: 10px;
  
      & h2{
        font-weight: 500;
      }
      & a{
        font-weight: 300;
      }
    }
  }
  
  .footer-info-2{
    & p{
      padding: 30px 20px;
    }
  }

}